* {
    box-sizing: border-box;
}


.w-20 {
    flex-basis:20%;
}

.w-25 {
    flex-basis:25%;

}

.w-60 {
    flex-basis: 60%;

}

.w-50 {
    flex-basis: 50%;
}

.w-33 {
    flex-basis: 33.33%;
}

.w-80 {
    flex-basis: 80%;
}

body {
    display: flex;
    flex-direction: column;
    width:600px;
    height: 800px;
    border: 10px solid white;

}

header {
    background-color: blueviolet;
    border:10px solid white;
}
main {
    display: flex;
    flex-direction: column;   
    border: 10px solid white;
    row-gap: 20px;
}

.medium {
    background-color: blueviolet;

}

.long {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;

}

footer {
    background-color: blueviolet;
    border: 10px solid white;
}

.box {

    background-color: blueviolet;
}